<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DARIO</h1> Ing. Mecatronico que quiere cambiar de rumbo laboral. 
    Originario de Guadalajara, Mexico con ganas de adentrarme en el mundo de programacion, sobre todo python, interes en backend y analisis de datos. 

    <h1>Diego</h1> Musico, interesado por la Filosogia. Ser Tecnico Electromecanico me abrio puertas laborales y actualmente me encuentro realizando 
    este curso con la finalidad de poder tener un conocimiento basico de esta poderosa herramienta: Python. 
    Me siento orgulloso del trabajo realizado, teniendo en cuenta que no contaba con conocimientos previos en programacion. Sin embargo, 
    tambien me siento un poco decepcionado por no haber podido dar mas.
</body>
</html>